{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}
{% ifequal error "no" %}
<script>
    alert('Password Changed Successfully');
    window.location=('{% url 'logout' %}');
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Invalid Login Cerdinals , Tryagain');
</script>
{% endifequal %}


<div class="container mt-5" style="padding-right: 100px; padding-left: 100px; ">
   <div>


            <h2 class="text-center">Change Password</h2>
           <HR>
       <br>
           <form method="post">
               {% csrf_token %}
               <label>Old Password</label>
               <input type="password" class="form-control" placeholder="Enter Old Password" name="old">
               <label>New Password</label>
               <input type="password" class="form-control" placeholder="Enter New Password" name="new">
               <label>Confirm New Password</label>
               <input type="password" class="form-control" placeholder="Confirm New Password" name="confirm">

                                    <br>
               <input type="submit" class="btn  mt-2" value="Submit" style="background-color:#fdd">
           </form>
       </div>
   </div>
</div>

{% endblock %}