{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}

<div class="container mt-5">
    <h2 class="text-center">Profile</h2>

    <hr>
    <br>
    <div class="row">
        <div class="col-md-6">
            <b>Full Name :</b>

        </div>
         <div class="col-md-6" style="text-transform : capitalize">
            {{data.user.first_name}} {{data.user.last_name}}

        </div>


    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <b>Email Address :</b>

        </div>
         <div class="col-md-6" >
            {{data.user.username}}

        </div>


    </div>

     <hr>

    <div class="row">
        <div class="col-md-6">
            <b>Contact :</b>

        </div>
         <div class="col-md-6" >
            {{data.contact}}

        </div>


    </div>
     <hr>

    <div class="row">
        <div class="col-md-6">
            <b>Department :</b>

        </div>
         <div class="col-md-6" >
            {{data.branch}}

        </div>


    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <b>Campus :</b>

        </div>
         <div class="col-md-6" >
            {{data.campus}}

        </div>


    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <b>Role :</b>

        </div>
         <div class="col-md-6" >
            {{data.role}}

        </div>


    </div>
    <hr>

    <a href="{% url 'edit_profile' %}" class="btn  mt-5" style="background-color:#fdd">Edit Profile</a>
</div>

{% endblock %}